<!doctype html>
<html lang="en">

<head>
  <title>TradeStation</title>
  <meta charset="utf-8">
  <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico" />

  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='css1/style.css') }}">
  <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
</head>

<body style="overflow-x: hidden;">

  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" style="overflow-y: hidden;">
      <div class="p-4 pt-5">
        <a href="#" class="img logo"></a>
        <h3 style="color: #f8b739; font-family: Poppins, Arial, sans-serif; text-align: center;">Hi
          {{current_user.name}}</h3>
        <br>
        <br>
        <ul class="list-unstyled components mb-5">

          <li class="active">
            <a href="{{url_for('dashboard')}}">Dashboard</a>
          </li>
          <li>
            <a href="{{url_for('portfolio')}}">Portfolio</a>
          </li>
          <li>
            <a href="{{url_for('orders')}}">Orders</a>
          </li>

          <li>
            <a href="{{url_for('profile')}}">Profile</a>
          </li>
          <li>
            <a href="{{url_for('instructions')}}">Instructions</a>
          </li>
          <li>
            <a href="{{url_for('logout')}}">Sign Out</a>
          </li>

        </ul>

      </div>
    </nav>

    <!-- Page Content  -->
    <div id="content" class="p-4 p-md-5">

      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

          <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
          </button>
        </div>
      </nav>

      {% for mess in get_flashed_messages() %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <button
          type="button"
          class="fad close"
          data-dismiss="alert"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
        {{mess}}
      </div>
      {% endfor %}
   
      <div class="row">
        <div class="col-md-auto">
          <h4 style="font-family: Montserrat; color: #444;"><span style="color: grey; font-size: large;">Account Value &nbsp; </span>{{AccValue}}</h4>
        </div>
        <div class="col-md-auto">
          <h4 style="font-family: Montserrat; color: #444;"><span style="color: grey; font-size: large;">Equity Holdings &nbsp; </span>{{Holdings}}</h4>
        </div>
        <div class="col-md-auto">
          <h4 style="font-family: Montserrat; color: #444;"><span style="color: grey; font-size: large;">Invested &nbsp; </span>{{invested}}</h4>
        </div>
        
        <div class="col-md-auto">
          <h4 style="font-family: Montserrat; color: #444;"><span style="color: grey; font-size: large;">Balance &nbsp; </span>{{Balance}}</h4>
        </div>
        <div class="col-md-auto">
          {%if profit>=0%}
          <h4 style="font-family: Montserrat; color: #444;"><span style="color: grey; font-size: large;">Profit &nbsp; &nbsp; </span><span style="color: green;">{{profit}}%</span></h4>
          {%else%}       
          <h4 style="font-family: Montserrat; color: #444;"><span style="color: grey; font-size: large;">Loss &nbsp; &nbsp;</span><span style="color: red;">{{profit}}%</span></h4>
          {%endif%}
        </div>
      </div>
     <br>

      <div class="row">
        <div class="col-md-12">
          <em
              style="font-family: Montserrat; color: #444; font-weight: bold;">
         Graph</em>
          <div class="chart" id="baseGraph">
            <script>
              var graphs = {{ line1 | safe}};
              Plotly.plot('baseGraph', graphs, {});
            </script>
          </div>
          <div class="chart" id="baseGraph">
            <script>
              var graphs = {{ line2 | safe}};
              Plotly.plot('baseGraph', graphs, {});
            </script>
          </div>
        </div>
      </div>
      </div>

      </div>


    <script src="{{ url_for('static', filename='js1/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js1/popperjs') }}"></script>
    <script src="{{ url_for('static', filename='js1/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js1/main.js') }}"></script>
</body>

</html>