<!doctype html>
<html lang="en">

<head>
    <title>TradeStation</title>
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css1/style.css') }}">
</head>

<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="p-4 pt-5">
                <a href="#" class="img logo"></a>
                <h3 style="color: #f8b739; font-family: Poppins, Arial, sans-serif; text-align: center;">Hi
                    {{current_user.name}}</h3>
                <br>
                <br>

                <ul class="list-unstyled components mb-5">

                    <li>
                        <a href="{{url_for('dashboard')}}">Dashboard</a>
                    </li>
                    <li>
                        <a href="{{url_for('portfolio')}}">Portfolio</a>
                      </li>
                    <li>
                        <a href="{{url_for('orders')}}">Orders</a>
                    </li>

                    <li>
                        <a href="{{url_for('profile')}}">Profile</a>
                    </li>
                    <li class="active">
                        <a href="{{url_for('instructions')}}">Instructions</a>
                    </li>
                    <li>
                        <a href="{{url_for('logout')}}">Sign Out</a>
                    </li>

                </ul>

            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>
                </div>
            </nav>

            <div class="container">
                <div class="jumbotron">
                    <center><span
                            style="font-family:Verdana, Geneva, Tahoma, sans-serif; font-size:x-large">Instructions</span>
                    </center>
                    <br>
                    <ul>
                        <li>Complete your profile before making any decision.</li>
                        <li>Do not include Rs or any other sign while enetering amount in profile</li>
                        <li>Recomendations ranking indicate the most prefered to least prefered stock to buy</li>
                        <li>You can use refresh button on dashboard to read current trends and update figures</li>

                        <br>
                        <span>Modes</span>
                        <li>Manual mode - The application will recommend the stocks which are best suited at that time, you have to select them yourself</li>
                        <li>Automatic mode - The application will automatically buy/sell the stocks for you (Work in progress for this mode)</li>
                        
                        <br>
                        <span>Note:</span>
                        <li>The recommendations are ranked by taking into consideration risk factor. The one with max gain percent, 
                        if ranked higher, may be more profitable but will be more risky. The one ranked 1st is predicted to be
                         most profitable with minimum risk.</li>

                    </ul>
                </div>

            </div>

        </div>
    </div>



    <script src="{{ url_for('static', filename='js1/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js1/popperjs') }}"></script>
    <script src="{{ url_for('static', filename='js1/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js1/main.js') }}"></script>
</body>

</html>