<!doctype html>
<html lang="en">

<head>
    <title>TradeStation</title>
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico" />

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css1/style.css') }}">
</head>

<body>

    <div class="wrapper d-flex align-items-stretch">
        <nav id="sidebar">
            <div class="p-4 pt-5">
                <a href="#" class="img logo"></a>
                <h3 style="color: #f8b739; font-family: Poppins, Arial, sans-serif; text-align: center;">Hi
                    {{current_user.name}}</h3>
                <br>
                <br>

                <ul class="list-unstyled components mb-5">

                    <li>
                        <a href="{{url_for('dashboard')}}">Dashboard</a>
                    </li>
                    <li>
                        <a href="{{url_for('portfolio')}}">Portfolio</a>
                      </li>

                    <li>
                        <a href="{{url_for('orders')}}">Orders</a>
                    </li>

                    <li class="active">
                        <a href="{{url_for('profile')}}">Profile</a>
                    </li>
                    <li>
                        <a href="{{url_for('instructions')}}">Instructions</a>
                    </li>
                    <li>
                        <a href="{{url_for('logout')}}">Sign Out</a>
                    </li>
                </ul>

            </div>
        </nav>

        <!-- Page Content  -->
        <div id="content" class="p-4 p-md-5">

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">

                    <button type="button" id="sidebarCollapse" class="btn btn-primary">
                        <i class="fa fa-bars"></i>
                        <span class="sr-only">Toggle Menu</span>
                    </button>

                    <button class="btn btn-dark ml-auto d-inline-block" data-toggle="modal" data-target="#transaction">Add Funds</button>&nbsp; &nbsp;
                    <button class="btn btn-danger d-inline-block" data-toggle="modal" data-target="#withdraw">Withdraw</button>
                </div>
            </nav>
            {% for mess in get_flashed_messages() %}
            <div class="alert alert-warning alert-dismissible fade show" role="alert">
                <button type="button" class="fad close" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                {{mess}}
            </div>
            {% endfor %}

             <br>
             <br>
            <form method="POST" enctype="multipart/form-data" class="form-group">
                {{proForm.hidden_tag()}}
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Name</label>
                    <div class="col-sm-10">
                        {{proForm.name(class='form-control', disabled=True)}}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
                    <div class="col-sm-10">
                        {{proForm.email(class="form-control", disabled=True)}}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Funds</label>
                    <div class="col-sm-10">
                        {{proForm.funds(class='form-control',disabled=True)}}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Address</label>
                    <div class="col-sm-10">
                        {{proForm.address(class='form-control',maxlength=128)}}
                    </div>
                </div>
                <div class="form-group row">
                    <label for="inputPassword" class="col-sm-2 col-form-label">Mode</label>
                    <div class="col-sm-10">
                        <!-- {{proForm.mode(class='radio-inline')}} -->
                        <table class="table">
                        <tr>
                            {% for subfield in proForm.mode %}
                                <td><label class="radio-inline"> {{subfield}} {{subfield.label}} </label></td>
                            {% endfor %}
                        </tr>
                        </table>
                    </div>
                </div>

                <div class="form-group row">
                    <div style="margin:0 auto 0">
                        {{proForm.submit(class='btn btn-dark')}}
                    </div>
                </div>
            </form>
        </div>
    </div>

<!-- Modal -->
<div class="modal fade" id="transaction" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Add Funds</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form method="POST" id="addFunds">
            {{addform.hidden_tag()}}
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Amount</label>
                <div class="col-sm-10">
                    {{addform.amount(class='form-control')}}
                </div>
            </div>
        </form>   
      </div>
      <div class="modal-footer">
        {{addform.submit1(class="btn btn-dark",form="addFunds")}}
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="withdraw" data-backdrop="static" data-keyboard="false" tabindex="-1"
  aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">Withdraw Funds</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <form method="POST" id="withFunds">
            {{withform.hidden_tag()}}
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Amount</label>
                <div class="col-sm-10">
                    {{withform.amount(class='form-control')}}
                </div>
            </div>
        </form>   
      </div>
      <div class="modal-footer">
        {{withform.submit2(class="btn btn-danger",form="withFunds")}}
      </div>
    </div>
  </div>
</div>



    
    <script src="{{ url_for('static', filename='js1/jquery.min.js') }}" wfd-invisible="true"></script>
    <script src="{{ url_for('static', filename='js1/popperjs') }}" wfd-invisible="true"></script>
    <script src="{{ url_for('static', filename='js1/bootstrap.min.js') }}" wfd-invisible="true"></script>
    <script src="{{ url_for('static', filename='js1/main.js') }}" wfd-invisible="true"></script>
</body>

</html>